<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/en/cart.css" type="text/css" />
</head>

<body>
  <div class="header-container">
    <a href="/en"><img id="logo" src="/images/home/LOGO-white.png" alt="" /></a>
    <a href="/th/order/cart" id="lang" >EN</a>
  </div>

  <table id="nav">
    <tr>
      <td>Order Summary</td>
    </tr>
  </table>

  

  <table class="total">
    <tr>
      <% if(cartItems.length > 1) { %> <td>>> Have <%= cartItems.length %> items in your cart!</td>  <% } 
      else { %> <td>>> Have <%= cartItems.length %> item in your cart!</td> <% } %>
    </tr>
  </table>

  <!-- <p class="horizontal-line"></p> -->

  <table class="summary">
    <% var totalPrice = 0.00 %>
    <% var unitPrice = [] %>

  <% for(var i = 0; i < cartItems.length; i++) { %>
    <% var unit= 0.00 %>
    <tr>
      <td class="small">
        <td id="separate-starting-ending"></td>
      <td class="small"></td>
      <td class="small"></td>
    </tr>

    <form method="post" action="cart/delete">
      
      <tr class="order-number">
        <td class="small">
          <p id="number"># <%= i+1 %></p>
        </td>
        <td></td>
        <td class="small"></td>
        <td class="small">
          <button class="delete" type="submit">
            <svg viewBox="0 0 448 512" class="svgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
          </button>
        </td>
      </tr>
    </form>

   <!--------------------- Package Section --------------------->

        <!-- Package Header Section -->
        <tr>
          <td></td>
          <td colspan="3" id="type-header">
            <li>Package</li>
          </td>
        </tr>

         <!-- Package Details -->
         <% for(var j = 0; j < packages.length; j++) { %>

          <% var packageIndex = 'package_' + (j+1) %>
  
          <% if(cartItems[i][packageIndex] === "on") { %>
            <tr>
              <td></td>
              <td class="detail">
                <p>> <%= packages[j].package_nameEN %> </p>
              </td>
              <td class="small" id="count">
                <p>x 1</p>
                <% totalPrice += packages[j].package_price %>
                <% unit += packages[j].package_price %>
              </td>
              <td class="small" id="count">
                <p><%= packages[j].package_price.toFixed(2) %> </p>
              </td>
            </tr>        
          <% } %>
  
        <% } %>

    <!--------------------- Flavor Section --------------------->
             
    <!-- Flavor Header Section -->
    <tr>
      <td class="small">
        <input type="hidden" name="deleteIndex" value="<%= i+1 %>">
      </td>
      <td colspan="3" id="type-header">
        <li>Flavor</li>
      </td>
    </tr>

    <!-- Flavor Details -->
    <% for(var j = 0; j < flavors.length; j++) { %>

      <% var flavorIndex = 'flavor_' + (j+1) %>

      <% if(cartItems[i][flavorIndex] != 0) { %>
        <tr>
          <td></td>
          <td class="detail">
            <p>> <%= flavors[j].flavor_nameEN %> </p>
          </td>
          <td class="small" id="count">
            <p>x <%= cartItems[i][flavorIndex] %></p>
            <% totalPrice += flavors[j].flavor_price * cartItems[i][flavorIndex] %>
            <% unit += flavors[j].flavor_price * cartItems[i][flavorIndex] %>
          </td>
          <td class="small" id="count">
            <p><%= (flavors[j].flavor_price * cartItems[i][flavorIndex]).toFixed(2) %> </p>
          </td>
        </tr>
       <% } %>

    <% } %>


  <!--------------------- Topping Section ---------------------->

    <!-- Topping Header Section -->
      <tr>
        <td></td>
        <td colspan="3" id="type-header">
          <li>Topping</li>
        </td>
      </tr>

    <!-- Topping Details -->
      <% for(var j = 0; j < toppings.length; j++) { %>

        <% var toppingIndex = 'topping_' + (j+1) %>

        <% if(cartItems[i][toppingIndex] === "on") { %>
          <tr>
            <td></td>
            <td class="detail">
              <p>> <%= toppings[j].topping_nameEN %></p>
            </td>
            <td class="small" id="count">
              <p>x 1</p>
              <% totalPrice += toppings[j].topping_price %>
              <% unit += toppings[j].topping_price %>
            </td>
            <td class="small" id="count">
              <p><%= toppings[j].topping_price.toFixed(2) %> </p>
            </td>
          </tr>
        <% } %>

      <% } %>

      <!--------------------------------------------------------->

      <!--------------------- Sauce Section --------------------->
      
        <!-- Sauce Header Section -->
        <tr>
          <td></td>
          <td colspan="3" id="type-header">
            <li>Sauce</li>
          </td>
        </tr>

        <!-- Sauce Details -->
        <% for(var j = 0; j < sauces.length; j++) { %>

          <% var sauceIndex = 'sauce_' + (j+1) %>
  
          <% if(cartItems[i][sauceIndex] === "on") { %>
            <tr>
              <td></td>
              <td class="detail">
                <p>> <%= sauces[j].sauce_nameEN %> </p>
              </td>
              <td class="small" id="count">
                <p>x 1</p>
                <% totalPrice += sauces[j].sauce_price %>
                <% unit += sauces[j].sauce_price %>
              </td>
              <td class="small" id="count">
                <p><%= sauces[j].sauce_price.toFixed(2) %> </p>
              </td>
            </tr>        
          <% } %>
  
        <% } %>

      <!--------------------------------------------------------->


        <td colspan="4" id="separate-starting-ending"></td>

        <tr>
          <td colspan="4" class="unit-price">
           <%= unit.toFixed(2) %> Baht
           <% unitPrice.push([unit.toFixed(2)]) %>
          </td>
        </tr>

        <tr>
          <td colspan="4">
            <% if(i != cartItems.length - 1) { %>
              <p id="separate-order-line"></p>
            <% } %>
          </td>
        </tr>

        <% if(i == cartItems.length - 1) { %>
          <td colspan="4" id="separate-starting-ending"></td>
        <% } %>

  <% } %>

  
  <form action="cart/confirm-order" method="post">

  

  <!-- Total Price Section -->
  <table class="total" id="total-price">
    <!-- <p class="horizontal-line"></p> -->

    <tr>
      <td>Total</td>
      <td class="medium"><%= totalPrice.toFixed(2) %> Baht</td>
      <input type="hidden" name="unitPrice" value="<%= unitPrice %>">
      <input type="hidden" name="totalPrice" value="<%= totalPrice.toFixed(2) %>">
    </tr>
  </table> 
  <!------------------------->

  <!-- Footer button Element -->
  <table>
    <tr>
      <td>
        <button class="button" type="button" onclick="backPage()" style="vertical-align: middle">
          MORE ORDER
        </button>
      </td>
      <td id="buy-more">
      </td>
      <td id="confirm">
        <button class="button" type="submit" style="vertical-align: middle">
          CONFIRM ORDER
        </button>
      </td>
    </tr>
  </table>
</form>

</body>

<script src="/javascripts/en/cart.js"></script>

</html>